$phone-horizontal-frame: calc(125 / 978 * 100%);
$phone-vertical-frame: calc(110 / 1962 * 100%);

:host {
  display: block;
  width: 100%;
  max-width: 452px;
  max-height: 906px;
  overflow: hidden;
  aspect-ratio: 978 / 1962;
}

.iphone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/iphone11-frame.png') no-repeat;
  background-size: 127% 106%;
  background-position: 45% -1px;
  z-index: 9999;
  pointer-events: none;
}

.screen {
  position: relative;
  top: calc($phone-vertical-frame / 2);
  left: calc($phone-horizontal-frame / 2 + 1px);
  width: calc(100% - $phone-horizontal-frame);
  height: calc(100% - $phone-vertical-frame);
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}
