<div #appsGrid class="apps-grid">
  @for (apps of applications; track apps) {
    <div #appsGridPanel class="apps-grid__panel">
      @for (app of apps; track app) {
        <div class="apps-grid__panel__app">
          <div class="app" (tap)="openApp()">
            <div class="app__icon">
              {{ app.icon }}
            </div>
            <span class="app__label">
              {{ app.label }}
            </span>
          </div>
        </div>
      }
    </div>
  }
</div>

<div class="search">
  <button
    class="search__btn"
    [@fadeOut]="searchBtnVisibility"
    (@fadeOut.done)="
      searchBtnVisibility === 'hidden' ? paginationVisibility = 'visible' : null;
    "
    (click)="openSearch()"
  >
    <svg-icon src="/icons/search.svg" [svgStyle]="{ 'fill': 'white' }"></svg-icon>
    <span>Search</span>
  </button>

  <lib-pagination
    class="pagination"
    [@fadeOut]="paginationVisibility"
    (@fadeOut.done)="
      paginationVisibility === 'hidden' ? searchBtnVisibility = 'visible' : null;
    "
    [pagesTotal]="totalPages"
    [currentPage]="currPage"
  />
</div>
