@use './styles/all';

* {
  user-select: none;
}

html, body {
  font-family: 'SF Pro', sans-serif;
  height: 100%;
}

body {
  // background: url('/wallpapers/1.jpg');
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(30px) brightness(70%);
}

app-root {
  display: block;
  height: 100%;
}

svg-icon {
  display: inline-block;
}
