@use './styles/index';

html, body {
  height: 100%;
}

body {
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(30px) brightness(65%);
}

app-root {
  display: block;
  height: 100%;
}
