.icon {
  width: 30px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.battery-regular {
  fill: #fff;
}

.battery-low {
  fill: #fe4445;
}

.battery-charging {
  fill: #3bc35c;
}
