.phone-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/wallpaper/1.jpg");
  background-size: cover;
}

.fav-apps-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 10px;
}
