<!-- <app-nx-welcome></app-nx-welcome> -->
<router-outlet></router-outlet>

<app-phone-frame
  id="phone-frame"
  class="phone-frame"
>

  <div class="home-grid">
    <div class="home-grid__status-bar">
      <div>
        <app-time />
      </div>
      <div>
        <app-battery />
      </div>
    </div>

    <div class="home-grid__apps">

      <app-apps-grid />

    </div>

    <div class="home-grid__fav-apps">

      <lib-home-screen-fav-apps-bar />

    </div>
  </div>

  <div class="home-grid-blur-overlay"></div>

</app-phone-frame>
