<!-- <app-nx-welcome></app-nx-welcome> -->
<router-outlet></router-outlet>

<app-phone-frame
  id="phone-frame"
  class="phone-frame"
>
  <!-- Today View -->
  <div
    #todayViewBox
    class="today-view-box"
    (swipeleft)="closeTodayView($event)"
  >
    <lib-today-view />
  </div>

  <!-- App Library -->
  <div
    #appLibraryBox
    class="app-library-box"
    (swiperight)="closeAppLibrary($event)"
  >
    <lib-app-library />
  </div>

  <div class="home">
    <div class="status-bar">
      <div>
        <app-time />
      </div>
      <div>
        <app-battery />
      </div>
    </div>

    <div #homeApps class="home-apps">
      <div class="home-apps__apps">
        <app-apps-grid
          (swipeBeforeFirstPage)="openTodayView($event)"
          (swipeAfterLastPage)="openAppLibrary($event)"
          (panBeforeFirstPage)="panToTodayView($event)"
          (panAfterLastPage)="panToAppsSearch($event)"
        />
      </div>

      <div class="home-apps__fav-apps">
        <lib-home-screen-fav-apps-bar />
      </div>
    </div>
  </div>

  <div #blurOverlay class="home-blur-overlay"></div>

</app-phone-frame>
