<router-outlet></router-outlet>

<lib-state-manager />

<app-phone-frame
  id="phone-frame"
  class="phone-frame"
>
  <lib-status-bar-global />

  <div
    #todayViewBox
    class="today-view-box"
    (swipeleft)="closeTodayView($event)"
  >
    <lib-today-view />
  </div>

  <div
    #appLibraryBox
    class="app-library-box"
    (swiperight)="closeAppLibrary($event)"
  >
    <lib-app-library />
  </div>

  <div class="home">
    <div #homeApps class="home-apps">
      <div class="home-apps__apps">
        <app-apps-grid
          (swipeBeforeFirstPage)="openTodayView($event)"
          (swipeAfterLastPage)="openAppLibrary($event)"
          (panBeforeFirstPage)="panToTodayView($event)"
          (panAfterLastPage)="panToAppsSearch($event)"
        />
      </div>

      <div class="home-apps__fav-apps">
        <lib-home-screen-fav-apps-bar />
      </div>
    </div>
  </div>

  <div #blurOverlay class="home-blur-overlay"></div>

  <lib-app-pool />

</app-phone-frame>
